
@{
    Layout = "~/Views/Shared/_BackAdmin.cshtml";
    ViewBag.Title = "Index";
}
<div class="container-fluid cm-container-white">
    <h2 style="margin-top:0;">物业管理系统</h2>
    <p>本系统主要技术:asp.net mvc+ef+sql server</p>
</div>
<div class="container-fluid">
    <div class="row cm-fix-height">
        <div class="col-sm-4">
            <div class="panel panel-default">
                <div class="panel-heading">小区管理</div>
                <div class="panel-body">
                    <a href="#">查看您小区的基本内容</a>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="panel panel-default">
                <div class="panel-heading">物业管理</div>
                <div class="panel-body">
                    <a href="#">发布公告和查看当前的公告</a>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="panel panel-default">
                <div class="panel-heading">公共设施</div>
                <div class="panel-body">
                    <a href="#">小区内的所有公共设施，如银行和医院</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row cm-fix-height">
        <div class="col-sm-4">
            <div class="panel panel-default">
                <div class="panel-heading">小区管理</div>
                <div class="panel-body">
                    <a href="#">查看您小区的基本内容</a>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="panel panel-default">
                <div class="panel-heading">物业管理</div>
                <div class="panel-body">
                    <a href="#">发布公告和查看当前的公告</a>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="panel panel-default">
                <div class="panel-heading">公共设施</div>
                <div class="panel-body">
                    <a href="#">小区内的所有公共设施，如银行和医院</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row cm-fix-height">
        <div class="col-sm-4">
            <div class="panel panel-default">
                <div class="panel-heading">小区管理</div>
                <div class="panel-body">
                    <a href="#">查看您小区的基本内容</a>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="panel panel-default">
                <div class="panel-heading">物业管理</div>
                <div class="panel-body">
                    <a href="#">发布公告和查看当前的公告</a>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="panel panel-default">
                <div class="panel-heading">公共设施</div>
                <div class="panel-body">
                    <a href="#">小区内的所有公共设施，如银行和医院</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row cm-fix-height">
        <div class="col-sm-4">
            <div class="panel panel-default">
                <div class="panel-heading">小区管理</div>
                <div class="panel-body">
                    <a href="#">查看您小区的基本内容</a>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="panel panel-default">
                <div class="panel-heading">物业管理</div>
                <div class="panel-body">
                    <a href="#">发布公告和查看当前的公告</a>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="panel panel-default">
                <div class="panel-heading">公共设施</div>
                <div class="panel-body">
                    <a href="#">小区内的所有公共设施，如银行和医院</a>
                </div>
            </div>
        </div>
    </div>
</div>
